body {
  margin: 0px;
  padding: 0px;
}

h2 {
 text-align: center;
  font-size: 4em;
}

h3 {
  text-align: center;
}

.select_athlete {
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}



.fooditem {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.athletefootwear {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer p {
  font-size: 2em;
  text-align: center;
  width: 100%;
  height: 50px;
  border: 1px solid black;
  margin: 0px;
}
