

h2 {
 text-align: center;
  font-size: 4em;
}

.select_athlete {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fooditem {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.athletefootwear {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
